<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sphere0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{129,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{129,129}}</string>
                <key>sourceSize</key>
                <string>{131,131}</string>
            </dict>
            <key>sphere1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,133},{129,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{129,129}}</string>
                <key>sourceSize</key>
                <string>{131,131}</string>
            </dict>
            <key>sphere2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,264},{129,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{129,129}}</string>
                <key>sourceSize</key>
                <string>{131,131}</string>
            </dict>
            <key>sphere3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,395},{129,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{129,129}}</string>
                <key>sourceSize</key>
                <string>{131,131}</string>
            </dict>
            <key>sphere4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,526},{129,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{129,129}}</string>
                <key>sourceSize</key>
                <string>{131,131}</string>
            </dict>
            <key>sphere5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,657},{129,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{129,129}}</string>
                <key>sourceSize</key>
                <string>{131,131}</string>
            </dict>
            <key>sphere6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,788},{129,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{129,129}}</string>
                <key>sourceSize</key>
                <string>{131,131}</string>
            </dict>
            <key>sphere7.png</key>
            <dict>
                <key>frame</key>
                <string>{{133,2},{129,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{129,129}}</string>
                <key>sourceSize</key>
                <string>{131,131}</string>
            </dict>
            <key>sphere8.png</key>
            <dict>
                <key>frame</key>
                <string>{{133,133},{129,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{129,129}}</string>
                <key>sourceSize</key>
                <string>{131,131}</string>
            </dict>
            <key>sphere9.png</key>
            <dict>
                <key>frame</key>
                <string>{{133,264},{129,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{129,129}}</string>
                <key>sourceSize</key>
                <string>{131,131}</string>
            </dict>
            <key>sphere10.png</key>
            <dict>
                <key>frame</key>
                <string>{{133,395},{129,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{129,129}}</string>
                <key>sourceSize</key>
                <string>{131,131}</string>
            </dict>
            <key>sphere11.png</key>
            <dict>
                <key>frame</key>
                <string>{{133,526},{129,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{129,129}}</string>
                <key>sourceSize</key>
                <string>{131,131}</string>
            </dict>
            <key>sphere12.png</key>
            <dict>
                <key>frame</key>
                <string>{{133,657},{129,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{129,129}}</string>
                <key>sourceSize</key>
                <string>{131,131}</string>
            </dict>
            <key>sphere13.png</key>
            <dict>
                <key>frame</key>
                <string>{{133,788},{129,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{129,129}}</string>
                <key>sourceSize</key>
                <string>{131,131}</string>
            </dict>
            <key>sphere14.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,2},{129,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{129,129}}</string>
                <key>sourceSize</key>
                <string>{131,131}</string>
            </dict>
            <key>sphere15.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,133},{129,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{129,129}}</string>
                <key>sourceSize</key>
                <string>{131,131}</string>
            </dict>
            <key>sphere16.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,264},{129,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{129,129}}</string>
                <key>sourceSize</key>
                <string>{131,131}</string>
            </dict>
            <key>sphere17.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,395},{129,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{129,129}}</string>
                <key>sourceSize</key>
                <string>{131,131}</string>
            </dict>
            <key>sphere18.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,526},{129,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{129,129}}</string>
                <key>sourceSize</key>
                <string>{131,131}</string>
            </dict>
            <key>sphere19.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,657},{129,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{129,129}}</string>
                <key>sourceSize</key>
                <string>{131,131}</string>
            </dict>
            <key>sphere20.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,788},{129,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{129,129}}</string>
                <key>sourceSize</key>
                <string>{131,131}</string>
            </dict>
            <key>sphere21.png</key>
            <dict>
                <key>frame</key>
                <string>{{395,2},{129,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{129,129}}</string>
                <key>sourceSize</key>
                <string>{131,131}</string>
            </dict>
            <key>sphere22.png</key>
            <dict>
                <key>frame</key>
                <string>{{395,133},{129,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{129,129}}</string>
                <key>sourceSize</key>
                <string>{131,131}</string>
            </dict>
            <key>sphere23.png</key>
            <dict>
                <key>frame</key>
                <string>{{395,264},{129,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{129,129}}</string>
                <key>sourceSize</key>
                <string>{131,131}</string>
            </dict>
            <key>sphere24.png</key>
            <dict>
                <key>frame</key>
                <string>{{395,395},{129,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{129,129}}</string>
                <key>sourceSize</key>
                <string>{131,131}</string>
            </dict>
            <key>sphere25.png</key>
            <dict>
                <key>frame</key>
                <string>{{395,395},{129,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{129,129}}</string>
                <key>sourceSize</key>
                <string>{131,131}</string>
            </dict>
            <key>sphere26.png</key>
            <dict>
                <key>frame</key>
                <string>{{395,395},{129,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{129,129}}</string>
                <key>sourceSize</key>
                <string>{131,131}</string>
            </dict>
            <key>sphere27.png</key>
            <dict>
                <key>frame</key>
                <string>{{395,526},{129,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{129,129}}</string>
                <key>sourceSize</key>
                <string>{131,131}</string>
            </dict>
            <key>sphere28.png</key>
            <dict>
                <key>frame</key>
                <string>{{395,657},{129,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{129,129}}</string>
                <key>sourceSize</key>
                <string>{131,131}</string>
            </dict>
            <key>sphere29.png</key>
            <dict>
                <key>frame</key>
                <string>{{395,788},{129,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{129,129}}</string>
                <key>sourceSize</key>
                <string>{131,131}</string>
            </dict>
            <key>sphere30.png</key>
            <dict>
                <key>frame</key>
                <string>{{526,2},{129,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{129,129}}</string>
                <key>sourceSize</key>
                <string>{131,131}</string>
            </dict>
            <key>sphere31.png</key>
            <dict>
                <key>frame</key>
                <string>{{526,133},{129,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{129,129}}</string>
                <key>sourceSize</key>
                <string>{131,131}</string>
            </dict>
            <key>sphere32.png</key>
            <dict>
                <key>frame</key>
                <string>{{526,264},{129,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{129,129}}</string>
                <key>sourceSize</key>
                <string>{131,131}</string>
            </dict>
            <key>sphere33.png</key>
            <dict>
                <key>frame</key>
                <string>{{526,395},{129,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{129,129}}</string>
                <key>sourceSize</key>
                <string>{131,131}</string>
            </dict>
            <key>sphere34.png</key>
            <dict>
                <key>frame</key>
                <string>{{526,526},{129,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{129,129}}</string>
                <key>sourceSize</key>
                <string>{131,131}</string>
            </dict>
            <key>sphere35.png</key>
            <dict>
                <key>frame</key>
                <string>{{526,657},{129,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{129,129}}</string>
                <key>sourceSize</key>
                <string>{131,131}</string>
            </dict>
            <key>sphere36.png</key>
            <dict>
                <key>frame</key>
                <string>{{526,788},{129,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{129,129}}</string>
                <key>sourceSize</key>
                <string>{131,131}</string>
            </dict>
            <key>sphere37.png</key>
            <dict>
                <key>frame</key>
                <string>{{657,2},{129,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{129,129}}</string>
                <key>sourceSize</key>
                <string>{131,131}</string>
            </dict>
            <key>sphere38.png</key>
            <dict>
                <key>frame</key>
                <string>{{657,133},{129,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{129,129}}</string>
                <key>sourceSize</key>
                <string>{131,131}</string>
            </dict>
            <key>sphere39.png</key>
            <dict>
                <key>frame</key>
                <string>{{657,264},{129,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{129,129}}</string>
                <key>sourceSize</key>
                <string>{131,131}</string>
            </dict>
            <key>sphere40.png</key>
            <dict>
                <key>frame</key>
                <string>{{657,395},{129,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{129,129}}</string>
                <key>sourceSize</key>
                <string>{131,131}</string>
            </dict>
            <key>sphere41.png</key>
            <dict>
                <key>frame</key>
                <string>{{657,526},{129,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{129,129}}</string>
                <key>sourceSize</key>
                <string>{131,131}</string>
            </dict>
            <key>sphere42.png</key>
            <dict>
                <key>frame</key>
                <string>{{657,657},{129,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{129,129}}</string>
                <key>sourceSize</key>
                <string>{131,131}</string>
            </dict>
            <key>sphere43.png</key>
            <dict>
                <key>frame</key>
                <string>{{657,788},{129,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{129,129}}</string>
                <key>sourceSize</key>
                <string>{131,131}</string>
            </dict>
            <key>sphere44.png</key>
            <dict>
                <key>frame</key>
                <string>{{788,2},{129,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{129,129}}</string>
                <key>sourceSize</key>
                <string>{131,131}</string>
            </dict>
            <key>sphere45.png</key>
            <dict>
                <key>frame</key>
                <string>{{788,133},{129,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{129,129}}</string>
                <key>sourceSize</key>
                <string>{131,131}</string>
            </dict>
            <key>sphere46.png</key>
            <dict>
                <key>frame</key>
                <string>{{788,264},{129,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{129,129}}</string>
                <key>sourceSize</key>
                <string>{131,131}</string>
            </dict>
            <key>sphere47.png</key>
            <dict>
                <key>frame</key>
                <string>{{788,395},{129,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{129,129}}</string>
                <key>sourceSize</key>
                <string>{131,131}</string>
            </dict>
            <key>sphere48.png</key>
            <dict>
                <key>frame</key>
                <string>{{788,526},{129,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{129,129}}</string>
                <key>sourceSize</key>
                <string>{131,131}</string>
            </dict>
            <key>sphere49.png</key>
            <dict>
                <key>frame</key>
                <string>{{788,657},{129,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{129,129}}</string>
                <key>sourceSize</key>
                <string>{131,131}</string>
            </dict>
            <key>sphere50.png</key>
            <dict>
                <key>frame</key>
                <string>{{788,788},{129,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{129,129}}</string>
                <key>sourceSize</key>
                <string>{131,131}</string>
            </dict>
            <key>sphere51.png</key>
            <dict>
                <key>frame</key>
                <string>{{919,2},{129,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{129,129}}</string>
                <key>sourceSize</key>
                <string>{131,131}</string>
            </dict>
            <key>sphere52.png</key>
            <dict>
                <key>frame</key>
                <string>{{919,133},{129,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{129,129}}</string>
                <key>sourceSize</key>
                <string>{131,131}</string>
            </dict>
            <key>sphere53.png</key>
            <dict>
                <key>frame</key>
                <string>{{919,264},{129,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{129,129}}</string>
                <key>sourceSize</key>
                <string>{131,131}</string>
            </dict>
            <key>sphere54.png</key>
            <dict>
                <key>frame</key>
                <string>{{919,395},{129,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{129,129}}</string>
                <key>sourceSize</key>
                <string>{131,131}</string>
            </dict>
            <key>sphere55.png</key>
            <dict>
                <key>frame</key>
                <string>{{919,526},{129,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{129,129}}</string>
                <key>sourceSize</key>
                <string>{131,131}</string>
            </dict>
            <key>sphere56.png</key>
            <dict>
                <key>frame</key>
                <string>{{919,657},{129,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{129,129}}</string>
                <key>sourceSize</key>
                <string>{131,131}</string>
            </dict>
            <key>sphere57.png</key>
            <dict>
                <key>frame</key>
                <string>{{919,788},{129,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{129,129}}</string>
                <key>sourceSize</key>
                <string>{131,131}</string>
            </dict>
            <key>sphere58.png</key>
            <dict>
                <key>frame</key>
                <string>{{1050,2},{129,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{129,129}}</string>
                <key>sourceSize</key>
                <string>{131,131}</string>
            </dict>
            <key>sphere59.png</key>
            <dict>
                <key>frame</key>
                <string>{{1181,2},{129,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{129,129}}</string>
                <key>sourceSize</key>
                <string>{131,131}</string>
            </dict>
            <key>sphere60.png</key>
            <dict>
                <key>frame</key>
                <string>{{1312,2},{129,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{129,129}}</string>
                <key>sourceSize</key>
                <string>{131,131}</string>
            </dict>
            <key>sphere61.png</key>
            <dict>
                <key>frame</key>
                <string>{{1443,2},{129,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{129,129}}</string>
                <key>sourceSize</key>
                <string>{131,131}</string>
            </dict>
            <key>sphere62.png</key>
            <dict>
                <key>frame</key>
                <string>{{1574,2},{129,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{129,129}}</string>
                <key>sourceSize</key>
                <string>{131,131}</string>
            </dict>
            <key>sphere63.png</key>
            <dict>
                <key>frame</key>
                <string>{{1705,2},{129,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{129,129}}</string>
                <key>sourceSize</key>
                <string>{131,131}</string>
            </dict>
            <key>sphere64.png</key>
            <dict>
                <key>frame</key>
                <string>{{1050,133},{129,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{129,129}}</string>
                <key>sourceSize</key>
                <string>{131,131}</string>
            </dict>
            <key>sphere65.png</key>
            <dict>
                <key>frame</key>
                <string>{{1050,264},{129,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{129,129}}</string>
                <key>sourceSize</key>
                <string>{131,131}</string>
            </dict>
            <key>sphere66.png</key>
            <dict>
                <key>frame</key>
                <string>{{1050,395},{129,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{129,129}}</string>
                <key>sourceSize</key>
                <string>{131,131}</string>
            </dict>
            <key>sphere67.png</key>
            <dict>
                <key>frame</key>
                <string>{{1050,526},{129,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{129,129}}</string>
                <key>sourceSize</key>
                <string>{131,131}</string>
            </dict>
            <key>sphere68.png</key>
            <dict>
                <key>frame</key>
                <string>{{1050,657},{129,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{129,129}}</string>
                <key>sourceSize</key>
                <string>{131,131}</string>
            </dict>
            <key>sphere69.png</key>
            <dict>
                <key>frame</key>
                <string>{{1050,788},{129,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{129,129}}</string>
                <key>sourceSize</key>
                <string>{131,131}</string>
            </dict>
            <key>sphere70.png</key>
            <dict>
                <key>frame</key>
                <string>{{1181,133},{129,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{129,129}}</string>
                <key>sourceSize</key>
                <string>{131,131}</string>
            </dict>
            <key>sphere71.png</key>
            <dict>
                <key>frame</key>
                <string>{{1312,133},{129,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{129,129}}</string>
                <key>sourceSize</key>
                <string>{131,131}</string>
            </dict>
            <key>sphere72.png</key>
            <dict>
                <key>frame</key>
                <string>{{1443,133},{129,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{129,129}}</string>
                <key>sourceSize</key>
                <string>{131,131}</string>
            </dict>
            <key>sphere73.png</key>
            <dict>
                <key>frame</key>
                <string>{{1574,133},{129,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{129,129}}</string>
                <key>sourceSize</key>
                <string>{131,131}</string>
            </dict>
            <key>sphere74.png</key>
            <dict>
                <key>frame</key>
                <string>{{1574,133},{129,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{129,129}}</string>
                <key>sourceSize</key>
                <string>{131,131}</string>
            </dict>
            <key>sphere75.png</key>
            <dict>
                <key>frame</key>
                <string>{{1574,133},{129,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{129,129}}</string>
                <key>sourceSize</key>
                <string>{131,131}</string>
            </dict>
            <key>sphere76.png</key>
            <dict>
                <key>frame</key>
                <string>{{1574,133},{129,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{129,129}}</string>
                <key>sourceSize</key>
                <string>{131,131}</string>
            </dict>
            <key>sphere77.png</key>
            <dict>
                <key>frame</key>
                <string>{{1574,133},{129,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{129,129}}</string>
                <key>sourceSize</key>
                <string>{131,131}</string>
            </dict>
            <key>sphere78.png</key>
            <dict>
                <key>frame</key>
                <string>{{1705,133},{129,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{129,129}}</string>
                <key>sourceSize</key>
                <string>{131,131}</string>
            </dict>
            <key>sphere79.png</key>
            <dict>
                <key>frame</key>
                <string>{{1181,264},{129,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{129,129}}</string>
                <key>sourceSize</key>
                <string>{131,131}</string>
            </dict>
            <key>sphere80.png</key>
            <dict>
                <key>frame</key>
                <string>{{1181,395},{129,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{129,129}}</string>
                <key>sourceSize</key>
                <string>{131,131}</string>
            </dict>
            <key>sphere81.png</key>
            <dict>
                <key>frame</key>
                <string>{{1181,526},{129,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{129,129}}</string>
                <key>sourceSize</key>
                <string>{131,131}</string>
            </dict>
            <key>sphere82.png</key>
            <dict>
                <key>frame</key>
                <string>{{1181,657},{129,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{129,129}}</string>
                <key>sourceSize</key>
                <string>{131,131}</string>
            </dict>
            <key>sphere83.png</key>
            <dict>
                <key>frame</key>
                <string>{{1181,788},{129,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{129,129}}</string>
                <key>sourceSize</key>
                <string>{131,131}</string>
            </dict>
            <key>sphere84.png</key>
            <dict>
                <key>frame</key>
                <string>{{1312,264},{129,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{129,129}}</string>
                <key>sourceSize</key>
                <string>{131,131}</string>
            </dict>
            <key>sphere85.png</key>
            <dict>
                <key>frame</key>
                <string>{{1443,264},{129,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{129,129}}</string>
                <key>sourceSize</key>
                <string>{131,131}</string>
            </dict>
            <key>sphere86.png</key>
            <dict>
                <key>frame</key>
                <string>{{1574,264},{129,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{129,129}}</string>
                <key>sourceSize</key>
                <string>{131,131}</string>
            </dict>
            <key>sphere87.png</key>
            <dict>
                <key>frame</key>
                <string>{{1705,264},{129,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{129,129}}</string>
                <key>sourceSize</key>
                <string>{131,131}</string>
            </dict>
            <key>sphere88.png</key>
            <dict>
                <key>frame</key>
                <string>{{1312,395},{129,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{129,129}}</string>
                <key>sourceSize</key>
                <string>{131,131}</string>
            </dict>
            <key>sphere89.png</key>
            <dict>
                <key>frame</key>
                <string>{{1312,526},{129,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{129,129}}</string>
                <key>sourceSize</key>
                <string>{131,131}</string>
            </dict>
            <key>sphere90.png</key>
            <dict>
                <key>frame</key>
                <string>{{1312,657},{129,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{129,129}}</string>
                <key>sourceSize</key>
                <string>{131,131}</string>
            </dict>
            <key>sphere91.png</key>
            <dict>
                <key>frame</key>
                <string>{{1312,788},{129,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{129,129}}</string>
                <key>sourceSize</key>
                <string>{131,131}</string>
            </dict>
            <key>sphere92.png</key>
            <dict>
                <key>frame</key>
                <string>{{1443,395},{129,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{129,129}}</string>
                <key>sourceSize</key>
                <string>{131,131}</string>
            </dict>
            <key>sphere93.png</key>
            <dict>
                <key>frame</key>
                <string>{{1574,395},{129,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{129,129}}</string>
                <key>sourceSize</key>
                <string>{131,131}</string>
            </dict>
            <key>sphere94.png</key>
            <dict>
                <key>frame</key>
                <string>{{1705,395},{129,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{129,129}}</string>
                <key>sourceSize</key>
                <string>{131,131}</string>
            </dict>
            <key>sphere95.png</key>
            <dict>
                <key>frame</key>
                <string>{{1443,526},{129,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{129,129}}</string>
                <key>sourceSize</key>
                <string>{131,131}</string>
            </dict>
            <key>sphere96.png</key>
            <dict>
                <key>frame</key>
                <string>{{1443,657},{129,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{129,129}}</string>
                <key>sourceSize</key>
                <string>{131,131}</string>
            </dict>
            <key>sphere97.png</key>
            <dict>
                <key>frame</key>
                <string>{{1443,788},{129,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{129,129}}</string>
                <key>sourceSize</key>
                <string>{131,131}</string>
            </dict>
            <key>sphere98.png</key>
            <dict>
                <key>frame</key>
                <string>{{1574,526},{129,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{129,129}}</string>
                <key>sourceSize</key>
                <string>{131,131}</string>
            </dict>
            <key>sphere99.png</key>
            <dict>
                <key>frame</key>
                <string>{{1705,526},{129,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{129,129}}</string>
                <key>sourceSize</key>
                <string>{131,131}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sphere.png</string>
            <key>size</key>
            <string>{1836,919}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7652ee161e90e4b5ef086d512117fb86:44bc989a3ed6addda810cca2181194ac:9995b85d0cbc00191d708239d5e2294c$</string>
            <key>textureFileName</key>
            <string>sphere.png</string>
        </dict>
    </dict>
</plist>
